@model Strange_Happenings.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="page-holder">
    <h4>@Html.DisplayFor(model => model.ArticleName ) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Genre.GenreName) 
        </dt>

        <dd>@Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>

    </dl>

    <article class="ArticleReviews">
        <h4>Read the reviews that users have submitted for this article</h4>
        <!--display reviews linked to this particular article-->
        <dl class="dl-horizontal">
            <dt>

            </dt>
            @foreach (var item in ViewBag.ReviewList)
            {
                <dd>
                    @item.ReviewDescription
                </dd>
            }
        </dl>
        <p class="CreateNew">
            @Html.ActionLink("Write review", "Create", "Reviews", new { id = Model.ArticleID }, null)
        </p>

    </article>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
