@model Strange_Happenings.Models.Review

@{
    //
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>
    <div id="page-holder">
        <div>
        <h4>Review</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Article.ArticleName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Article.ArticleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Article.ArticleDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Article.ArticleDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AuthorName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AuthorName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReviewDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReviewDescription)
            </dd>


        </dl>


    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
        </div>
</body>
</html>