@model IEnumerable<Strange_Happenings.Models.Review>

@{
    //
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> All reviews</title>
</head>
<body>
    <div class="page-holder">
        <table class="table" id="ReviewTable">
            <caption>View all reviews</caption>
            <tr class="tableHead">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article.ArticleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Article.ArticleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewDescription)
                    </td>
                    <td>
                        @Html.ActionLink("View Review", "Details", new { id = item.ReviewID }) |
                    </td>
                </tr>
            }
            <p>
                @Html.ActionLink("Create new Review", "Create")
            </p>
        </table>

    </div>
</body>
</html>
